@using FactFinderWeb.ModelsView
@model MVLogin
@{
	ViewData["Title"] = "login";
}


<style> 


/*
	.form-wrap {
		background: rgba(255,255,255,1);
		width: 100%;
		max-width: 850px;
		padding: 50px;
		margin: 0 auto;
		position: relative;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		margin-top: 10px;
		margin-bottom: 80px;
	}

		.form-wrap:before {
			content: "";
			width: 90%;
			height: calc(100% + 60px);
			left: 0;
			right: 0;
			margin: 0 auto;
			position: absolute;
			top: -30px;
			background: #101357;
			z-index: -1;
			opacity: 0.8;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
			-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
			box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		}

	.form-group {
		margin-bottom: 25px;
	}

		.form-group > label {
			display: block;
			font-size: 18px;
			color: #000;
			letter-spacing: 1px;
		}

	.custom-control-label {
		color: #000;
		font-size: 16px;
	}

	.form-control {
		height: 50px;
		background: #ecf0f4;
		border-color: transparent;
		padding: 0 15px;
		font-size: 16px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

		.form-control:focus {
			border-color: #00bcd9;
			-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		}

	textarea.form-control {
		height: 51px;
		padding-top: 15px;
		resize: none;
	}

	.btn {
		padding: .657rem .75rem;
		font-size: 18px;
		letter-spacing: 0.050em;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		width: 48%;
	}

	.btn-primary {
		color: #fff;
		background-color: #FF1D58;
		border-color: #FF1D58;
	}

		.btn-primary:hover {
			color: #101357;
			background-color: #ffffff;
			border-color: #101357;
			-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		}

		.btn-primary:focus, .btn-primary.focus {
			color: #101357;
			background-color: #ffffff;
			border-color: #101357;
			-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		}

		.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
		.show > .btn-primary.dropdown-toggle {
			color: #101357;
			background-color: #ffffff;
			border-color: #101357;
		}

			.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
			.show > .btn-primary.dropdown-toggle:focus {
				-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
				-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
				box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			}

	.imgh {
		width: 300px;
		height: 200px;
		object-fit: contain;
			}*/ body {
		margin: 0;
		padding: 0;
		background-color: #0078D7;
		height: 100vh;
		overflow: hidden;
	}

	.container-box {
		display: flex;
		height: 100vh;
		align-items: center;
		justify-content: center;
	}

	.login-box {
		display: flex;
		width: 900px;
		height: 460px;
		background-color: white;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
	}

	.left-box {
		flex: 1;
		background: url('/images/login-pg-1.jpg') no-repeat center center;
		background-size: cover;
		position: relative;
		padding: 25px;
		color: white;
	}

		.left-box::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 0.7);
		}

	.left-box-content {
		position: relative;
		z-index: 2;
	}

	.right-box {
		flex: 1;
		background: url('/images/login-pg-2.jpg') no-repeat top center;
		background-size: contain;
		background-color: #92d7e4;
	}

	.form-control {
		margin-bottom: 2px;
	}

	.login-title {
		font-size: 2rem;
		margin-bottom: 8px;
	}

	.error-message {
		color: red;
		font-size: 0.9rem;
		margin-bottom: 15px;
	}



</style>


<div class="container-box">
	<div class="login-box">
		<!-- Left Login Section -->
		<div class="left-box">
			<div class="left-box-content">
				<div class="login-title">Login</div>
				<form id="survey-form" method="post" asp-action="Login" asp-controller="User">

					<div class="row">
						<div class="d-flex justify-content-center">
							<div class="col-md-8">
								<div class="form-group">
									<label id="number-label" for="number">Email</label>
									<input type="email" class="form-control" id="Email" name="Email" asp-for="Email" placeholder="Email ID" required wfd-id="id2">
									@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="d-flex justify-content-center">
							<div class="col-md-8  pt-2">
								<div class="form-group">
									<label asp-for="Password">Password</label>
									<input type="password" asp-for="Password" class="form-control" placeholder="Enter Password" value="Test1234" required maxlength="30" />
									@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>

					</div>


					<div class="row">
						<div class="d-flex justify-content-center">
							<div class="col-md-8 pt-3" style="margin:0 auto;">
							<button type="submit" class="btn btn-primary btn-block">Submit</button>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="d-flex justify-content-center">
							<div class="col-md-8  pt-2" style="margin:0 auto;">
							<p>Don't have an account? <a href="/register" class="link-primary">Sign Up</a></p>
						</div>
						</div>
					</div>

					<div class="row">
						<div class="d-flex justify-content-center">
							<div class="col-md-8" style="margin:0 auto;">
								@if (TempData["msg"] != null)
								{
									<p style="color: white;">@TempData["msg"]  <a style="color:darkblue;" href="/resendVerificationEmail">Verification link expired? Click here</a>.</p>
								}
							<span class="error-msg"></span>
							@if (ViewData["Error"] != null)
							{
								<p style="color: red;">@ViewData["Error"]</p>
							}
							Forgot Password? <a href="/forgotpassword">Click Here </a>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>

		<!-- Right Visual Section -->
		<div class="right-box">
			<!-- Visual content handled via background image -->
		</div>
	</div>
</div>

 
 
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}