@using FactFinderWeb.ModelsView
@model MVLogin
@{
	ViewData["Title"] = "Verification Link Resend - Fact Finder";
}


<style>
	.form-wrap {
		background: rgba(255,255,255,1);
		width: 100%;
		max-width: 850px;
		padding: 50px;
		margin: 0 auto;
		position: relative;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		margin-top: 10px;
		margin-bottom: 80px;
	}

		.form-wrap:before {
			content: "";
			width: 90%;
			height: calc(100% + 60px);
			left: 0;
			right: 0;
			margin: 0 auto;
			position: absolute;
			top: -30px;
			background: #101357;
			z-index: -1;
			opacity: 0.8;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
			-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
			box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		}

	.form-group {
		margin-bottom: 25px;
	}

		.form-group > label {
			display: block;
			font-size: 18px;
			color: #000;
			letter-spacing: 1px;
		}

	.custom-control-label {
		color: #000;
		font-size: 16px;
	}

	.form-control {
		height: 50px;
		background: #ecf0f4;
		border-color: transparent;
		padding: 0 15px;
		font-size: 16px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

		.form-control:focus {
			border-color: #00bcd9;
			-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		}

	textarea.form-control {
		height: 51px;
		padding-top: 15px;
		resize: none;
	}

	.btn {
		padding: .657rem .75rem;
		font-size: 18px;
		letter-spacing: 0.050em;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		width: 48%;
	}

	.btn-primary {
		color: #fff;
		background-color: #FF1D58;
		border-color: #FF1D58;
	}

		.btn-primary:hover {
			color: #101357;
			background-color: #ffffff;
			border-color: #101357;
			-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		}

		.btn-primary:focus, .btn-primary.focus {
			color: #101357;
			background-color: #ffffff;
			border-color: #101357;
			-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		}

		.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
		.show > .btn-primary.dropdown-toggle {
			color: #101357;
			background-color: #ffffff;
			border-color: #101357;
		}

			.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
			.show > .btn-primary.dropdown-toggle:focus {
				-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
				-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
				box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			}

	.imgh {
		width: 300px;
		height: 200px;
		object-fit: contain;
	}

</style>
<div class="container">
	<div class="text-center"><img src="/images/main.png" class="imgh" alt="Logo"></div>

	<div class="form-wrap">
		<form id="survey-form" method="post" asp-action="ResendVerificationEmail" asp-controller="User">
			<div class="row">
					<div class="d-flex justify-content-center">
					<div class="col-md-12"><h3> Verification Email Resend</h3> </div>
				</div>
			</div>
			<div class="row">
					<div class="d-flex justify-content-center">
					<div class="col-md-6">
						<div class="form-group">
							<label id="number-label" for="number">Email</label>
							<input type="email" class="form-control" id="Email" name="Email" asp-for="Email" placeholder="Email ID" required wfd-id="id2" value="">
							@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6" style="margin:0 auto;">
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6" style="margin:0 auto;">
					<p>Don't have an account? <a href="/register" class="link-primary">Sign Up</a></p>
				</div>
			</div>


			<div class="row">
				<div class="col-md-6" style="margin:0 auto;">
					<span class="error-msg"></span>
					@if (ViewData["msg"] != null)
					{
						<p style="color: blue;">@ViewData["msg"]</p>
					}
				</div>
			</div>

		</form>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}